@use 'light.module' as colors;

$skyLight_d: #184779;
$skyMain_d: #142f57;
$skyDark_d: #07142b;

$cloudLight_d: #487ca9;
$cloudDark_d: #335a8d;

$waterLight_d: #142f57;
$waterDark_d: #184779;

$rippleLight_d: #356489;
$rippleDark_d: #0f304f;

$sandLight_d: #132b4f;
$sandDark_d: #112848;
$sandDarker_d: #102543;

$rock100_d: #142d51;
$rock200_d: #112747;
$rock300_d: #0f2340;
$rock400_d: #0d203c;
$rock500_d: #0c1e38;
$rock600_d: #0a1b33;
$rock700_d: #09182f;
$rock800_d: #08172d;
$rock900_d: #08172d;

$palmLighter_d: #112746;
$palmLight_d: #0c1e39;
$palmMain_d: #0b1d36;
$palmDark_d: #0a1b33;
$palmDarker_d: #091931;

$foliageLighter_d: #112746;
$foliageLight_d: #0c1e39;
$foliageMain_d: #0b1d36;
$foliageDark_d: #0a1b33;
$foliageDarker_d: #091931;

$trunkLight_d: #0b1c34;
$trunkDark_d: #07172c;

$woodLighter_d: #0e223f;
$woodLight_d: #0c1e39;
$woodLightless_d: #0c1e37;
$woodMain_d: #08182f;
$woodDark_d: #07162b;
$woodDarker_d: #071529;

$ropeLight_d: #112849;
$ropeDark_d: #0a1b33;

$towelLight_d: #173258;
$towelDark_d: #0d203b;
$towelIcon_d: #7df5e5;

$bottleLight_d: #091930;
$bottleMain_d: #08172d;
$bottleDark_d: #07152a;

$capLight_d: #112747;
$capDark_d: #0c1f3a;

$paperLighter_d: #132c4f;
$paperLight_d: #12294c;
$paperMain_d: #112849;
$paperDark_d: #112848;
$paperDarker_d: #102644;
$paperText_d: #7df5e5;

$mugLighter_d: #0b1c34;
$mugLight_d: #0a1b33;
$mugMain_d: #08182f;
$mugDark_d: #07172c;
$mugDarker_d: #071529;

$smoke_d: #aaaaaa;

$popperBg_d: rgba(0, 0, 0, 0.5);
$popperText_d: colors.$primary;

$redLight_d: #061c42;
$redDark_d: #051434;

:export {
	skyLight_d: $skyLight_d;
	skyMain_d: $skyMain_d;
	skyDark_d: $skyDark_d;

	cloudLight_d: $cloudLight_d;
	cloudDark_d: $cloudDark_d;

	waterLight_d: $waterLight_d;
	waterDark_d: $waterDark_d;

	rippleLight_d: $rippleLight_d;
	rippleDark_d: $rippleDark_d;

	sandLight_d: $sandLight_d;
	sandDark_d: $sandDark_d;
	sandDarker_d: $sandDarker_d;

	rock100_d: $rock100_d;
	rock200_d: $rock200_d;
	rock300_d: $rock300_d;
	rock400_d: $rock400_d;
	rock500_d: $rock500_d;
	rock600_d: $rock600_d;
	rock700_d: $rock700_d;
	rock800_d: $rock800_d;
	rock900_d: $rock900_d;

	palmLighter_d: $palmLighter_d;
	palmLight_d: $palmLight_d;
	palmMain_d: $palmMain_d;
	palmDark_d: $palmDark_d;
	palmDarker_d: $palmDarker_d;

	foliageLighter_d: $foliageLighter_d;
	foliageLight_d: $foliageLight_d;
	foliageMain_d: $foliageMain_d;
	foliageDark_d: $foliageDark_d;
	foliageDarker_d: $foliageDarker_d;

	trunkLight_d: $trunkLight_d;
	trunkDark_d: $trunkDark_d;

	woodLighter_d: $woodLighter_d;
	woodLight_d: $woodLight_d;
	woodLightless_d: $woodLightless_d;
	woodMain_d: $woodMain_d;
	woodDark_d: $woodDark_d;
	woodDarker_d: $woodDarker_d;

	ropeLight_d: $ropeLight_d;
	ropeDark_d: $ropeDark_d;

	towelLight_d: $towelLight_d;
	towelDark_d: $towelDark_d;
	towelIcon_d: $towelIcon_d;

	bottleLight_d: $bottleLight_d;
	bottleMain_d: $bottleMain_d;
	bottleDark_d: $bottleDark_d;

	capLight_d: $capLight_d;
	capDark_d: $capDark_d;

	paperLighter_d: $paperLighter_d;
	paperLight_d: $paperLight_d;
	paperMain_d: $paperMain_d;
	paperDark_d: $paperDark_d;
	paperDarker_d: $paperDarker_d;
	paperText_d: $paperText_d;

	mugLighter_d: $mugLighter_d;
	mugLight_d: $mugLight_d;
	mugMain_d: $mugMain_d;
	mugDark_d: $mugDark_d;
	mugDarker_d: $mugDarker_d;

	smoke_d: $smoke_d;

	popperBg_d: $popperBg_d;
	popperText_d: $popperText_d;

	redLight_d: $redLight_d;
	redDark_d: $redDark_d;
}
