@use 'light.module' as colors;

$skyLight_d: #196385;
$skyMain_d: #07375f;
$skyDark_d: #0a183a;

$cloudLight_d: #07204e;
$cloudDark_d: #051b45;

$waterLight_d: #021537;
$waterDark_d: #010b25;

$sandLight_d: #061e47;
$sandDark_d: #061c44;
$sandDarker_d: #061c40;

$rock100_d: #071f4a;
$rock200_d: #061c43;
$rock300_d: #05183d;
$rock400_d: #051232;
$rock500_d: #040c28;
$rock600_d: #030b23;
$rock700_d: #030921;
$rock800_d: #02091f;
$rock900_d: #02081d;

$palmLighter_d: #051b3c;
$palmLight_d: #051736;
$palmMain_d: #041430;
$palmDark_d: #041029;
$palmDarker_d: #030d24;

$foliageLighter_d: #041532;
$foliageLight_d: #04112e;
$foliageMain_d: #030e27;
$foliageDark_d: #030b22;
$foliageDarker_d: #02091e;

$trunkLight_d: #040d27;
$trunkDark_d: #03091e;

$woodLighter_d: #050f2c;
$woodLight_d: #040c24;
$woodLightless_d: #040c24;
$woodMain_d: #03091f;
$woodDark_d: #03081c;
$woodDarker_d: #020513;

$ropeLight_d: #061c42;
$ropeDark_d: #051434;

$towelLight_d: #071f4c;
$towelDark_d: #04102f;
$towelIcon_d: #7df5e5;

$bottleLight_d: #13203e;
$bottleMain_d: #030c28;
$bottleDark_d: #05183d;

$capLight_d: #071f4a;
$capDark_d: #05183d;

$paperLighter_d: #071f4a;
$paperLight_d: #061c43;
$paperMain_d: #05183d;
$paperDark_d: #051232;
$paperDarker_d: #040c28;

$mugLighter_d: #05183d;
$mugLight_d: #051232;
$mugMain_d: #040c28;
$mugDark_d: #030b23;
$mugDarker_d: #030921;

$smoke_d: #aaaaaa;

$popperBg_d: rgba(0, 0, 0, 0.5);
$popperText_d: colors.$primary;

$redLight_d: #061c42;
$redDark_d: #051434;

:export {
	skyLight_d: $skyLight_d;
	skyMain_d: $skyMain_d;
	skyDark_d: $skyDark_d;

	cloudLight_d: $cloudLight_d;
	cloudDark_d: $cloudDark_d;

	waterLight_d: $waterLight_d;
	waterDark_d: $waterDark_d;

	sandLight_d: $sandLight_d;
	sandDark_d: $sandDark_d;
	sandDarker_d: $sandDarker_d;

	rock100_d: $rock100_d;
	rock200_d: $rock200_d;
	rock300_d: $rock300_d;
	rock400_d: $rock400_d;
	rock500_d: $rock500_d;
	rock600_d: $rock600_d;
	rock700_d: $rock700_d;
	rock800_d: $rock800_d;
	rock900_d: $rock900_d;

	palmLighter_d: $palmLighter_d;
	palmLight_d: $palmLight_d;
	palmMain_d: $palmMain_d;
	palmDark_d: $palmDark_d;
	palmDarker_d: $palmDarker_d;

	foliageLighter_d: $foliageLighter_d;
	foliageLight_d: $foliageLight_d;
	foliageMain_d: $foliageMain_d;
	foliageDark_d: $foliageDark_d;
	foliageDarker_d: $foliageDarker_d;

	trunkLight_d: $trunkLight_d;
	trunkDark_d: $trunkDark_d;

	woodLighter_d: $woodLighter_d;
	woodLight_d: $woodLight_d;
	woodLightless_d: $woodLightless_d;
	woodMain_d: $woodMain_d;
	woodDark_d: $woodDark_d;
	woodDarker_d: $woodDarker_d;

	ropeLight_d: $ropeLight_d;
	ropeDark_d: $ropeDark_d;

	towelLight_d: $towelLight_d;
	towelDark_d: $towelDark_d;
	towelIcon_d: $towelIcon_d;

	bottleLight_d: $bottleLight_d;
	bottleMain_d: $bottleMain_d;
	bottleDark_d: $bottleDark_d;

	capLight_d: $capLight_d;
	capDark_d: $capDark_d;

	paperLighter_d: $paperLighter_d;
	paperLight_d: $paperLight_d;
	paperMain_d: $paperMain_d;
	paperDark_d: $paperDark_d;
	paperDarker_d: $paperDarker_d;

	mugLighter_d: $mugLighter_d;
	mugLight_d: $mugLight_d;
	mugMain_d: $mugMain_d;
	mugDark_d: $mugDark_d;
	mugDarker_d: $mugDarker_d;

	smoke_d: $smoke_d;

	popperBg_d: $popperBg_d;
	popperText_d: $popperText_d;

	redLight_d: $redLight_d;
	redDark_d: $redDark_d;
}
