$skyLight_12: #c2fff7;
$skyMid_12: #8af1f2;
$skyDark_12: #54c7ff;

$cloudBackLight_12: #fff;
$cloudBackMid_12: #fcfcff;
$cloudBackDark_12: #d1deff;
$cloudShadeLight_12: #fff;
$cloudShadeMid_12: #edf6ff;
$cloudShadeDark_12: #d1e8ff;
$cloudFarLight_12: #cbffff;
$cloudFarMid_12: #bef8ff;
$cloudFarDark_12: #b0f1ff;

$islandSandLight_12: #ffe075;
$islandSandMid_12: #fdd56b;
$islandSandDark_12: #fabb52;
$islandGrassLight_12: #aead13;
$islandGrassDark_12: #63902f;
$islandWater_12: #7adec5;
$islandWet_12: #efdbff;
$islandShadow_12: #d1becd;

$oceanBackLight_12: #46e7c4;
$oceanBackDark_12: #5495f2;
$oceanWave_12: #d1e8ff;

$rockKimberly_12: #706492;
$rockRum_12: #725780;
$rockCannon_12: #814c63;
$rockFriar_12: #848179;
$rockOyster_12: #9f917e;
$rockSanta_12: #b87251;
$rockOnahau_12: #d1e8ff;
$rockSerria_12: #dd9063;
$rockDust_12: #e3cac7;
$rockJaffa_12: #eb9552;
$rockChalk_12: #efdbff;
$rockKoromiko_12: #ffb565;
$rockLavender_12: #c0b3d4;
$rockCoral_12: #ae6363;
$rockHit_12: #ffa777;

$palmFern_12: #4f701e;
$palmOliveDrab_12: #63902f;
$palmOlive_12: #6f7b00;
$palmLuxor_12: #9c9f2f;
$palmAlpine_12: #a4a22f;
$palmSahara_12: #aead13;
$palmErals_12: #bdb82f;
$palmRioja_12: #c2ba13;
$palmMaverick_12: #d1becd;
$palmBarbeery_12: #e2cf13;

$palmTrunkLight_12: #ef9f3b;
$palmTrunkMid_12: #b87251;
$palmTrunkDark_12: #814c63;

:export {
	skyLight_12: $skyLight_12;
	skyMid_12: $skyMid_12;
	skyDark_12: $skyDark_12;

	cloudBackLight_12: $cloudBackLight_12;
	cloudBackMid_12: $cloudBackMid_12;
	cloudBackDark_12: $cloudBackDark_12;
	cloudShadeLight_12: $cloudShadeLight_12;
	cloudShadeMid_12: $cloudShadeMid_12;
	cloudShadeDark_12: $cloudShadeDark_12;
	cloudFarLight_12: $cloudFarLight_12;
	cloudFarMid_12: $cloudFarMid_12;
	cloudFarDark_12: $cloudFarDark_12;

	islandSandLight_12: $islandSandLight_12;
	islandSandMid_12: $islandSandMid_12;
	islandSandDark_12: $islandSandDark_12;
	islandGrassLight_12: $islandGrassLight_12;
	islandGrassDark_12: $islandGrassDark_12;
	islandWater_12: $islandWater_12;
	islandWet_12: $islandWet_12;
	islandShadow_12: $islandShadow_12;

	oceanBackLight_12: $oceanBackLight_12;
	oceanBackDark_12: $oceanBackDark_12;
	oceanWave_12: $oceanWave_12;

	rockKimberly_12: $rockKimberly_12;
	rockRum_12: $rockRum_12;
	rockCannon_12: $rockCannon_12;
	rockFriar_12: $rockFriar_12;
	rockOyster_12: $rockOyster_12;
	rockSanta_12: $rockSanta_12;
	rockOnahau_12: $rockOnahau_12;
	rockSerria_12: $rockSerria_12;
	rockDust_12: $rockDust_12;
	rockJaffa_12: $rockJaffa_12;
	rockChalk_12: $rockChalk_12;
	rockKoromiko_12: $rockKoromiko_12;
	rockLavender_12: $rockLavender_12;
	rockCoral_12: $rockCoral_12;
	rockHit_12: $rockHit_12;

	palmFern_12: $palmFern_12;
	palmOliveDrab_12: $palmOliveDrab_12;
	palmOlive_12: $palmOlive_12;
	palmLuxor_12: $palmLuxor_12;
	palmAlpine_12: $palmAlpine_12;
	palmSahara_12: $palmSahara_12;
	palmErals_12: $palmErals_12;
	palmRioja_12: $palmRioja_12;
	palmMaverick_12: $palmMaverick_12;
	palmBarbeery_12: $palmBarbeery_12;

	palmTrunkLight_12: $palmTrunkLight_12;
	palmTrunkMid_12: $palmTrunkMid_12;
	palmTrunkDark_12: $palmTrunkDark_12;
}
