$skyLight: #d0f5fe;
$skyMain: #88d8fb;
$skyDark: #426dcc;

$waterLight: #46e2e7;
$waterDark: #5495f2;

$cloudLight: #fff;
$cloudDark: #d5e4f9;

$sandLight: #fdd56b;
$sandDark: #fabb52;
$sandDarker: #f3b256;

$grass: #7a921f;

$rock100: #ffcf9f; // Edge
$rock200: #f2ae66; // Top
$rock300: #c69b7b; // Light
$rock400: #cd8863; // Angle
$rock500: #a56966; // Back
$rock600: #93575f; // Front
$rock700: #87808e; // Side
$rock800: #7c515f; // Shadow

$palmLight: #fff;
$palmDark: #000;

$trunkLight: #df9242;
$trunkDark: #a86756;

$leafDarker: #4f701e;
$leafDark: #687807;
$leafMain: #759728;
$leafLight: #a2a32b;
$leafLighter: #d7c91c;

:export {
	skyLight: $skyLight;
	skyMain: $skyMain;
	skyDark: $skyDark;

	waterLight: $waterLight;
	waterDark: $waterDark;

	cloudLight: $cloudLight;
	cloudDark: $cloudDark;

	sandLight: $sandLight;
	sandDark: $sandDark;
	sandDarker: $sandDarker;

	grass: $grass;

	rock100: $rock100;
	rock200: $rock200;
	rock300: $rock300;
	rock400: $rock400;
	rock500: $rock500;
	rock600: $rock600;
	rock700: $rock700;
	rock800: $rock800;

	palmLight: $palmLight;
	palmDark: $palmDark;

	trunkLight: $trunkLight;
	trunkDark: $trunkDark;

	leafLighter: $leafLighter;
	leafLight: $leafLight;
	leafMain: $leafMain;
	leafDark: $leafDark;
	leafDarker: $leafDarker;
}
