$black: #000000;
$white: #ffffff;

$primary: #ffffff;
$secondary: #ffffff;
$success: #ffffff;
$info: #ffffff;
$warning: #ffffff;
$error: #ffffff;

:export {
	black: $black;
	white: $white;
	primary: $primary;
	secondary: $secondary;
	success: $success;
	info: $info;
	warning: $warning;
	error: $error;
}
