$black: #000000;
$white: #ffffff;
$primary: #fff7a6;

$skyLight: #93dde8;
$skyMain: #31b7d2;
$skyDark: #0c5285;

$cloudLight: #fbf5f5;
$cloudDark: #d1e1f0;

$waterLight: #daf1d7;
$waterDark: #27aec9;

$sandLight: #f3e9c4;
$sandDark: #f9df9b;
$sandDarker: #ebd08d;

$rock100: #f7efdd; // Edge
$rock200: #e6ddce; // Top
$rock300: #d4ccbf; // Light
$rock400: #c3bdb5; // Angle
$rock500: #aea9a2; // Back
$rock600: #96908d; // Front
$rock700: #857e7d; // Side
$rock800: #7a7073; // Shadow
$rock900: #4c4f63;

$palmLighter: #eff25d;
$palmLight: #bac628;
$palmMain: #909f28;
$palmDark: #759e52;
$palmDarker: #577b3b;

$foliageLighter: #dadf67;
$foliageLight: #c2c747;
$foliageMain: #afaf3d;
$foliageDark: #788128;
$foliageDarker: #6a6928;

$trunkLight: #cd884d;
$trunkDark: #825126;

$woodLighter: #f4b251;
$woodLight: #e8a463;
$woodLightless: #d89546;
$woodMain: #cb8844;
$woodDark: #8e5739;
$woodDarker: #563b30;

$ropeLight: #fae08c;
$ropeDark: #a37c3e;

$towelLight: #f6f4e7;
$towelDark: #9cbab8;
$towelIcon: #698696;

$bottleLight: #9db7bf;
$bottleMain: #2e6e60;
$bottleDark: #174841;

$paperLighter: #f1e6d0;
$paperLight: #e7c7a6;
$paperMain: #d8b19a;
$paperDark: #ba8d7d;
$paperDarker: #906d6f;

$smoke: #cccccc;

$popperBg: rgba(0, 0, 0, 0.5);
$popperText: $primary;

$redLight: #d42a0f;
$redDark: #711a1a;

:export {
	black: $black;
	white: $white;
	primary: $primary;

	skyLight: $skyLight;
	skyMain: $skyMain;
	skyDark: $skyDark;

	cloudLight: $cloudLight;
	cloudDark: $cloudDark;

	waterLight: $waterLight;
	waterDark: $waterDark;

	sandLight: $sandLight;
	sandDark: $sandDark;
	sandDarker: $sandDarker;

	rock100: $rock100;
	rock200: $rock200;
	rock300: $rock300;
	rock400: $rock400;
	rock500: $rock500;
	rock600: $rock600;
	rock700: $rock700;
	rock800: $rock800;
	rock900: $rock900;

	palmLighter: $palmLighter;
	palmLight: $palmLight;
	palmMain: $palmMain;
	palmDark: $palmDark;
	palmDarker: $palmDarker;

	foliageLighter: $foliageLighter;
	foliageLight: $foliageLight;
	foliageMain: $foliageMain;
	foliageDark: $foliageDark;
	foliageDarker: $foliageDarker;

	trunkLight: $trunkLight;
	trunkDark: $trunkDark;

	woodLighter: $woodLighter;
	woodLight: $woodLight;
	woodLightless: $woodLightless;
	woodMain: $woodMain;
	woodDark: $woodDark;
	woodDarker: $woodDarker;

	ropeLight: $ropeLight;
	ropeDark: $ropeDark;

	towelLight: $towelLight;
	towelDark: $towelDark;
	towelIcon: $towelIcon;

	bottleLight: $bottleLight;
	bottleMain: $bottleMain;
	bottleDark: $bottleDark;

	paperLighter: $paperLighter;
	paperLight: $paperLight;
	paperMain: $paperMain;
	paperDark: $paperDark;
	paperDarker: $paperDarker;

	smoke: $smoke;

	popperBg: $popperBg;
	popperText: $popperText;

	redLight: $redLight;
	redDark: $redDark;
}
